<% if flash[:notice].present? %>
  <%= flash[:notice] %>
<% end %><br />
<table>
  <thead>
    <td>Title</td>
    <td>Description</td>
    <td>Action</td>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.description %></td>
      <td>
        <%= link_to 'Detail', book_path(book) %> | <%= link_to 'Edit', edit_book_path(book) %> | <%= link_to 'Delete', book_path(book), method: :delete, data: {confirm: 'Kamu yakin ingin menghapus data ini?'} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Tambah Data', new_book_path %>
